.mainDiv
{
  height: 100vh;
  background-color: oldlace;

}

.heading
{
  display: block;
}

.learningBoardContainer
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}